[submodule "lisp/vertico"]
	path = lisp/vertico
	url = https://github.com/minad/vertico.git
[submodule "lisp/flycheck"]
	path = lisp/flycheck
	url = https://github.com/flycheck/flycheck.git
[submodule "lisp/god-mode"]
	path = lisp/god-mode
	url = https://github.com/emacsorphanage/god-mode.git
[submodule "lisp/company-mode"]
	path = lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/tao-theme"]
	path = lisp/tao-theme
	url = https://github.com/11111000000/tao-theme-emacs.git
[submodule "lisp/go-mode"]
	path = lisp/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "lisp/elm-mode"]
	path = lisp/elm-mode
	url = https://github.com/jcollard/elm-mode.git
[submodule "lisp/dape"]
	path = lisp/dape
	url = https://github.com/svaante/dape.git
[submodule "lisp/org-modern"]
	path = lisp/org-modern
	url = https://github.com/minad/org-modern.git
[submodule "lisp/elisp-tree-sitter"]
	path = lisp/elisp-tree-sitter
	url = https://github.com/emacs-tree-sitter/elisp-tree-sitter
[submodule "lisp/tempel"]
	path = lisp/tempel
	url = https://github.com/minad/tempel.git
[submodule "lisp/multiple-cursors"]
	path = lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
